---
import Logo from './icons/Logo.astro';
---

<section class="pt-10">
  <footer class="flex flex-col lg:flex-row items-centerw-full h-full p-10">
    <div class="flex flex-col w-full">
      <h1 class="text-2xl text-[#FE7443] font-bold pb-5">Services</h1>
      <ul class="flex flex-col gap-5 text-lg font-light">
        <li>Home Cleaning</li>
        <li>Window Cleaning</li>
        <li>Gardening cleaning</li>
        <li>Handyman Services</li>
      </ul>
    </div>
    <div class="flex flex-col w-full">
      <h1 class="text-2xl text-[#FE7443] font-bold pb-5">Information</h1>
      <ul class="flex flex-col gap-5 text-lg font-light">
        <li>Our Features</li>
        <li>Sign Up</li>
        <li>Join Community</li>
        <li>Newsletter</li>
      </ul>
    </div>
    <div class="flex flex-col w-full">
      <h1 class="text-2xl text-[#FE7443] font-bold pb-5">Company</h1>
      <ul class="flex flex-col gap-5 text-lg font-light">
        <li>About Company</li>
        <li>Terms & Use</li>
        <li>Margiotta 122-124 Dundas</li>
        <li>Street, Edinburgh, EH3 5DQ</li>
      </ul>
    </div>
    <div class="flex flex-col w-full">
      <h1 class="text-2xl text-[#FE7443] font-bold pb-5">About Us</h1>
      <ul class="flex flex-col gap-5 text-lg font-light">
        <p class="w-64">
          Lorem ipsum dolor sit amet, consectetur dipiscing elit eius mod tempor
          incididunt
        </p>
        <li>(504) 455 512 332</li>
        <li>exemplarclean@hotmail.com</li>
      </ul>
    </div>
  </footer>
  <article
    class="flex flex-col md:flex-row justify-center gap-5 md:gap-0 md:justify-between items-center text-pretty p-5 bg-[#2484B1]"
  >
    <div class="flex flex-row items-center">
      <Logo />
      <strong
        class="uppercase text-3xl ExamplarClean text-white tracking-widest"
        >Exemplar Clean
      </strong>
    </div>
    <h1 class="text-lg text-white font-light">
      © ExemplarClean 2024 all rights reserved
    </h1>
  </article>
</section>
