<section class="p-20">
  <article
    class="flex flex-col items-center md:w-full md:flex-row justify-center md:justify-between text-pretty"
  >
    <h1 class="text-4xl font-bold w-auto md:w-[70vh]">
      Contact and Payment Details
    </h1>
    <div class="flex flex-col gap-5 w-auto md:w-[70vh]">
      <h3 class="text-[#FE7443] text-xl font-bold">Pricing List</h3>
      <p class="text-sm font-light">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia,
        molestias autem.
      </p>
    </div>
  </article>
  <section class="pt-10 w-full flex flex-col lg:flex-row justify-center items-center gap-5">
    <div
      class="w-[300px] md:w-[350px] md:h-[496px] bg-[#FAFAFA] hover:bg-[#CAE8FD] rounded-2xl overflow-hidden transform hover:scale-95 transition-transform shadow-2xl"
    >
      <article class="flex flex-col text-pretty p-5">
        <h1 class="text-[#2484B1] text-6xl font-bold">
          £99<strong class="text-xl font-light text-[#5A717C]">/Services</strong
          >
        </h1>
        <div class="flex flex-row justify-between items-center pt-5">
          <h3 class="text-3xl font-bold">Regular</h3>
        </div>
        <p class="font-light text-[#45565F] pt-5">
          Everything you need for your business identity
        </p>
        <ul
          class="flex flex-col gap-5 pl-10 pt-10 font-light text-[#45565F] list-disc"
        >
          <li>2 Bedrooms Cleaning</li>
          <li>Steam Services</li>
          <li>Window Cleaning</li>
          <li>1 Livingroom Cleaning</li>
        </ul>
        <div class="flex flex-col justify-center items-center pt-5">
          <button class="bg-[#FFBA18] h-10 w-48 rounded-full p-2"
            >Choose Package</button
          >
        </div>
      </article>
    </div>
    <div
      class="w-[300px] md:w-[350px] md:h-[496px bg-[#FAFAFA] hover:bg-[#CAE8FD] rounded-2xl overflow-hidden transform hover:scale-95 transition-transform shadow-2xl"
    >
      <article class="flex flex-col text-pretty p-5">
        <h1 class="text-[#2484B1] text-6xl font-bold">
          £199<strong class="text-xl font-light text-[#5A717C]">/Services</strong
          >
        </h1>
        <div class="flex flex-row justify-between items-center pt-5">
          <h3 class="text-3xl font-bold">Deluxe</h3>
          <h5
            class="uppercase border-2 rounded-lg border-[#61eb9a] p-2"
            style="color: #61eb9a;
      font-size: 11px;
      font-weight: 600;
      line-height: 14px"
          >
            Recommended
          </h5>
        </div>
        <p class="font-light text-[#45565F] pt-5">
          Everything you need for your business identity
        </p>
        <ul
          class="flex flex-col gap-5 pl-10 pt-10 font-light text-[#45565F] list-disc"
        >
          <li>2 Bedrooms Cleaning</li>
          <li>Steam Services</li>
          <li>Window Cleaning</li>
          <li>1 Livingroom Cleaning</li>
        </ul>
        <div class="flex flex-col justify-center items-center pt-5">
          <button class="bg-[#FFBA18] h-10 w-48 rounded-full p-2"
            >Choose Package</button
          >
        </div>
      </article>
    </div>
    <div
      class="w-[300px] md:w-[350px] md:h-[496px bg-[#FAFAFA] hover:bg-[#CAE8FD] rounded-2xl overflow-hidden transform hover:scale-95 transition-transform shadow-2xl"
    >
      <article class="flex flex-col text-pretty p-5">
        <h1 class="text-[#2484B1] text-6xl font-bold">
          £299<strong class="text-xl font-light text-[#5A717C]">/Services</strong
          >
        </h1>
        <div class="flex flex-row justify-between items-center pt-5">
          <h3 class="text-3xl font-bold">Superior</h3>
        </div>
        <p class="font-light text-[#45565F] pt-5">
          Everything you need for your business identity
        </p>
        <ul
          class="flex flex-col gap-5 pl-10 pt-10 font-light text-[#45565F] list-disc"
        >
          <li>2 Bedrooms Cleaning</li>
          <li>Steam Services</li>
          <li>Window Cleaning</li>
          <li>1 Livingroom Cleaning</li>
        </ul>
        <div class="flex flex-col justify-center items-center pt-5">
          <button class="bg-[#FFBA18] h-10 w-48 rounded-full p-2"
            >Choose Package</button
          >
        </div>
      </article>
    </div>
  </section>
</section>
